<html>
<head>
<title>Side-by-side Page</title>
{% include "cards.html" %}
{% include "bootstrap_includes.html" %}
</head>

<body>
{% include "bootstrap_navbar.html" %} 

<div class="container-fluid">
  <div class="row">
    {% for pic in pics %}
      <div class="col-lg-4 col-md-4 col-sm-12 col-xm-12">
        <strong>{{pic.date}}: Miri is {{pic.miri_age|floatformat:1}}, 
                              Julia is {{pic.julia_age|floatformat:1}},
                              Linus is {{pic.linus_age|floatformat:1}}.
        </strong>
        <a href="/navperm/{{pic.picture_index.count}}">
          <img src="/imgperm/{{pic.picture_index.count}}" class="thumbnail img-responsive"/>
        </a>
      </div>
    {% endfor %}
  </div>
</div>

</body>
</html>
