<html>
<head>
<title>Side-by-side Page</title>
{% include "cards.html" %}
{% include "bootstrap_includes.html" %}
</head>

<body>
{% include "navbar_new.html" %} 

<div class="container-fluid">
  <div class="row">
    {% for pic in pics %}
      <div class="col-xs-12 col-md-4">
        <small>
          {{pic.date}}<br/>
          Miri is {{pic.miri_age|floatformat:1}}, Julia is {{pic.julia_age|floatformat:1}}, Linus is {{pic.linus_age|floatformat:1}}.
        </small>
        <a href="/perm/{{pic.picture_index.count}}">
          <img 
          src="/imgperm/{{pic.picture_index.count}}" 
          class="img-responsive"
          />
        </a>
      </div>
    {% endfor %}
  </div>
</div>

</body>
</html>
