<div class="panel-group" id="accordion">
  <div class="panel panel-default" id="panel1">

    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#tag_cloud" href="#tag_cloud">Tag Cloud</a>
      </h4>
    </div>

    <div id="tag_cloud" class="panel-collapse collapse{% if admin_flag %} in{% endif %}">

      <div class="panel-body">
        {% for tag in tags %}
          <span style="font-size:{{tag.fontsize}}px">
            <!-- re-add tag link -->
            {{tag.name}}
          </span>
        {% endfor %}
      </div>
    </div>

  </div>
</div>
