body {
  background-color: #bfbfbf;
}

.jumbotron {
  background-image: url("/images/capitol.jpg");
  background-size: cover;
  width: 100%;
  min-height: 200px;
  text-shadow: #444 0 4px 4px;
}

.jumbotron h1 {
  color: yellow;
}
