{% extends 'base.html' %}

{% block headline %}
  <h2>(Mainly Breakfast)</h2>
{% endblock %}

{% block recipe %}
  <h3><a href="/pancakes">Buttermilk pancakes (the best)</a></h3>
  <h3><a href="/recipes/sourdough_pancakes">Sourdough buttermilk pancakes</a></h3>
  <h3><a href="/recipes/waffles">Yogurt waffles</a></h3>
  <h3><a href="/recipes/oatmeal">Instant Pot Steel-Cut Oatmeal</a></h3>
  <br/>
  <h3><a href="/recipes/paneer">Matar Paneer</a></h3>
  <h3><a href="http://www.simplelifebykels.com/sourdough-banana-bread/">Sourdough Banana Bread</a>
  <h3><a href="https://alexandracooks.com/2020/05/01/simple-sourdough-pizza-a-step-by-step-guide">Sourdough Pizza Dough</a>
  <h3><a href="https://www.kingarthurflour.com/recipes/the-easiest-loaf-of-bread-youll-ever-bake-recipe">King Arthur Easy Bread</a>
  <h3><a href="/recipes/pretzelpie">Strawberry Pretzel Pie</a>
  <h3><a href="https://food52.com/recipes/33897-tahini-noodles">Tahini Noodles</a>
  <h3><a href="https://www.seedtopantry.com/2015/09/19/sourdough-zucchini-bread/">Sourdough Zucchini Bread</a>
  <h3><a href="/recipes/crisp">Fruit Crisp</a>
{% endblock %}

{% block photos %}
  <img class="img-responsive" src="/images/recipes_9602.JPG"/>
  <img class="img-responsive" src="/images/recipes_9688.JPG"/>
  <img class="img-responsive" src="/images/recipes_9753.JPG"/>
  <img class="img-responsive" src="/images/recipes_9848.JPG"/>
  <img class="img-responsive" src="/images/recipes_9854.JPG"/>
  <img class="img-responsive" src="/images/recipes_9900.JPG"/>
  <img class="img-responsive" src="/images/recipes_9920.JPG"/>
{% endblock %}
