{% extends 'base.html' %}

{% block headline %}
  <h2>(Mainly Breakfast)</h2>
{% endblock %}

{% block recipe %}
  <br/><a href="/pancakes">Buttermilk pancakes (the best)</a>
  <br/><a href="/recipes/sourdough_pancakes">Sourdough buttermilk pancakes</a>
  <br/><a href="/recipes/waffles">Yogurt waffles</a>
  <br/><a href="/recipes/oatmeal">Instant Pot Steel-Cut Oatmeal</a>
  <br/><a href="/recipes/paneer">Matar Paneer</a>
{% endblock %}

{% block photos %}
  <img class="img-responsive" src="/images/recipes_9602.JPG"/>
  <img class="img-responsive" src="/images/recipes_9688.JPG"/>
  <img class="img-responsive" src="/images/recipes_9753.JPG"/>
  <img class="img-responsive" src="/images/recipes_9848.JPG"/>
  <img class="img-responsive" src="/images/recipes_9854.JPG"/>
  <img class="img-responsive" src="/images/recipes_9900.JPG"/>
  <img class="img-responsive" src="/images/recipes_9920.JPG"/>
{% endblock %}
