{% extends 'base.html' %}


{% block headline %}
  <h1> Easy Weekend Waffles</h1>
  <h2>Andrew Sullivan for The New York Times</h2>
{% endblock %}


{% block recipe %}
  <h3>Ingredients</h3>
  <ul>
    <li>6 tablespoons unsalted butter, more for waffle iron</li>
    <li>2 cups / 240 grams all-purpose flour</li>
    <li>1 tablespoon / 15 grams sugar</li>
    <li>1 teaspoon / 8 grams baking powder</li>
    <li>1 teaspoon / 5 grams fine sea salt</li>
    <li>1/2 teaspoon / 3 grams baking soda</li>
    <li>1 cup plain yogurt</li>
    <li>1 cup milk</li>
    <li>4 large eggs</li>
  </ul>
  
  <h3>Preparation</h3>
  <ul>
    <li>Melt butter either on the stove or in the microwave. Set aside.</li>
    <li>
      In a large bowl, whisk together flour, sugar, baking powder, salt, and
      baking soda.
    </li>
  
    <li>
      In a separate bowl, whisk together yogurt, milk, melted butter, and eggs.
    </li>
    <li>Fold wet ingredients into dry ingredients.</li>
  
    <li>
      Preheat a waffle iron and, using a pastry brush or paper towel, lightly
      coat with butter. Cook waffles (using about 1/2 cup batter per waffle)
      until golden and crisp. Butter the iron in between batches as needed.
      Serve waffles immediately as they are ready, or keep them warm in a 200
      degree oven until ready to serve.
    </li>
  </ul>
{% endblock %}

{% block photos %}
  <img class="img-responsive" src="/images/waffles1.jpg"/>
  <img class="img-responsive" src="/images/waffles2.jpg"/>
  <img class="img-responsive" src="/images/waffles3.jpg"/>
{% endblock %}
